@use "../abstracts/colors" as *;
@use "../abstracts/texts" as *;

input, select {
  border: 1px solid $neutral-300;
  border-radius: 4px;
  outline: none;

  height: 2.5rem;
  width: 100%;
  padding: 4px 8px;

  font-family: $font-family-1;
  font-size: $fontSize-6;

  &[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.input__container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}