
$font-family-1: "Nunito Sans", sans-serif;

$fontSize-1: clamp(2rem, 5vh, 2.375rem);
$fontSize-2: clamp(1.75rem, 5vh, 2rem);
$fontSize-3: clamp(1.5rem, 5vh, 1.75rem);
$fontSize-4: clamp(1.25rem, 5vh, 1.5rem);
$fontSize-5: clamp(1rem, 5vh, 1.25rem);
$fontSize-6: clamp(.5rem, 5vh, 1rem);
$fontSize-7: clamp(.375rem, 5vh, .625rem);

$fontWeight-700: 700;
$fontWeight-600: 600;
$fontWeight-500: 500;
$fontWeight-400: 400;
$fontWeight-300: 300;
