@use "../../../styles/abstracts/colors.scss" as *;

.form__container {
  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

.form__header {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  height: 3.75rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $neutral-300;
    border-radius: 0.5rem;
    outline: none;
    background-color: $neutral-100;
    height: 2rem;
    width: 2rem;
    color: $neutral-900;

    &:hover {
      background-color: $neutral-100;
    }
  }
}

.paralel__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.planets__img {
  width: 90%;
  margin: 0 auto;
  filter: drop-shadow(2px 2px 1.5px #bdbcbc);
}

.visible {
  display: none;
}
